
h1 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: xx-large;
    color: #337234;
}
body {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    background-color: #7F3233;
	padding-right: 10em;
	padding-left: 10em;
}
body,td,th {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-weight: normal;
}
.container {
	border: 2px double;
	margin: 1.5em 2em 2em;
	padding: 2em;
}
a:link {
    color: #D6D2D2;
}
a:visited {
    color: #337234;
}
.map {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;